sudo: true
language: go
go:
  - 1.13.x
  - 1.14.x
  - 1.15.x
install:
  - # Do nothing. This is needed to prevent default install action
  - # "go get -t -v ./..." from happening here (we want it to happen inside script step).
script:
  - go get -t -v ./...
  - diff -u <(echo -n) <(gofmt -d -s .)
  - go tool vet .
  - go test -v -race ./...
