{{- define "base" }}
<div class="container">
    <div class="item" id="{{ .ChartID }}"
         style="width:{{ .InitOpts.Width }};height:{{ .InitOpts.Height }};"></div>
</div>
<script type="text/javascript">
    let myChart__x__{{ .ChartID }}__x__ = echarts.init(document.getElementById('{{ .ChartID }}'));
    let option__x__{{ .ChartID }}__x__ = {
        title: {{ .TitleOpts  }},
        tooltip: {{ .TooltipOpts }},
        legend: {{ .LegendOpts }},
        toolbox: {
            feature: {
                dataZoom: {},
                dataView: {},
                restore: {},
                saveAsImage: {}
            }
        },
    {{- if .HasXYAxis }}
        xAxis: {{ .XAxisOpts }},
        yAxis: {{ .YAxisOpts }},
    {{- end }}
        series: [
        {{ range .Series }}
        {{- . }},
        {{ end -}}
        ],
        color: {{ .ColorList }}
    };
    myChart__x__{{ .ChartID }}__x__.setOption(option__x__{{ .ChartID }}__x__);
</script>
{{ end }}