{{- define "chart" }}
<!DOCTYPE html>
<html>
{{- template "header" . }}
<body>
<div class="select" style="margin-left: 10px; margin-top:10px">
{{- if gt .HttpRouters.Len 0}}
    <select onchange="window.location.href=this.options[this.selectedIndex].value">
    {{- range .HttpRouters }}
        <option value="{{ .Url }}">{{ .Text }}</option>
    {{- end }}
    </select>
{{- end -}}
</div>
{{- template "base" . }}
<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item {
        margin: auto;
    }
</style>
</body>
</html>
{{ end }}